doctype html

html(lang="en")
head
	title Mobile Survey Form by PUG
	link(rel='stylesheet'
		 type='text/css'
		 href='css/surveystyle.css'
		 media='screen')
		 
body 
	h2 Featured
	h2 Wikipedia
	p The Article with the Most Revisions #{mostRevisions}
	